.category .hero .hero_text h1 {
    padding-top: 15%;
}

.home_page .top_content .flexslider {
    width: 73.41% !important;
}

.home_page .top_content .access_amount_section {
    height: 653px !important;
    width: 26.5% !important;
}