// primary styles 

$black: #000;
$charcoal: #666666;
$gray: #b7b7b7;
$white: #fff;

// Sections' color schemes
$blue: #66ccff;
$hoverBlue: #0099ff;

$purple: #6666cc; 
$hoverPurple: #333399;

$green: #99cc66; 
$hoverGreen: #74ba2d; 

$orange: #ffcc33;
$hoverOrange: #ff9900;

// Other text colors

$darkBlue: #336699;
$lightBlue: #33ccff;
$lightGray: #cfcfcf;
$darkOrange: #ff6600;

// tab color
$modBlue: #6699cc;

// read more text
$modOrange: #ff6600;

// header text
$columbiaBlue: #99ccff;
