#global_footer {
	@include span-columns(12);
	@include gudea;
	margin-top: 2rem;
	border-top: 2px solid lighten($charcoal, 50%);
	background: url('../images/subhead-bg.png');
	color: $gray;
	display: block;
	font-size: 14px;
	padding: 20px 40px 10px 60px;
	
	.container {
		padding: 0 60px;
		
		@include media($tablet) {
			padding: 0 30px;
		}
		
		@include media($mobile) {
			padding: 0 12px;
		}
	}
	
	@include media($tablet) {
		padding: 0 20px;
	}

  	@include media($mobile) {
	  padding: 0;
	}
	
	.social_media {
		@include clearfix;
		text-align: center;
		margin: 30px 0 10px;
		
		@include media($tablet) {
			margin: 10px 0;
		}
		
		a {
			img {
				margin-right: 30px;
			}
			
			&:last-child {
				
				img {
					margin-right: 0;
				}
			}
		}
	}

	.footer_logo {
		margin: 25px 0 20px;
		
		@include media($tablet) {
			@include span-columns(8);
			float: none;
		}
	}

	.access_account {

		&.dd-container {
			width: 230px !important;
			margin: 20px auto;

			@include media($tablet) {
				@include span-columns(3);
				float: none;
				margin: 10px auto;
			}

			.dd-options {
				width: 230px !important;
				bottom: 100%;
			}

			.dd-selected {
				padding-left: 0;
				padding-right: 10px;
			}
		}
	}
	
	.footer_bottom {
		@include span-columns(12);
		text-align: center;
	}
}

.footer_nav {
	@include clearfix;
	margin: 20px 0;
	
	@include media($tablet) {
		padding-left: 45px;
	}

  	@include media($mobile) {
	  padding-left: 0;
	}

	ul {
		@include clearfix;
		display: block;
		list-style: none;

	  	.footer_sub_nav {
			@include span-columns(2.4);
			
			@include media($tablet) {
				width: auto;
				font-size: 11px;
				margin-right: 40px;
			}
			
			@include media($mobile) {
			  float: none;
			  width: 100%;
			  font-size: 20px;
			  text-align: center;
			}
			
			.nav_headers {
				@include sanchez;
				display: inline-block;
				color: $white;
				margin-bottom: 20px;
				
				@include media($tablet) {
					margin-bottom: 0;
				}
				
				@include media($mobile) {
					margin-bottom: 10px;
				}
			}
			
			ul {
				@include media($tablet) {
					display: none;
				}
			}
	
			a {
				color: $gray;
			}
	
			&.last_column {
				
				ul {
					
					@include media($tablet) {
						display: block;
					}
					
					&> li:nth-child(n+2) {
						
						@include media($tablet) {
							display: none;
						}
					}
	
					li {
						margin-bottom: 5px;
		
						a {
							color: $blue;
							
							@include media($tablet) {
								color: $white;
							}
						}
					}
				}
			}
		}
	}
}


.footer_secondary_nav {
	font-size: 11px;
	padding: 10px 0 0;
	
	@include media($tablet) {
		font-size: 10px;
	}
	
	@include media($mobile) {
		font-size: 11px;
		padding: 10px 18px;
	}

	ul {
		display: inline-block;
		list-style: none;

		li {
			display: inline-block;
			
			&:before {
				content: '|';
				padding: 0 5px;
				color: $blue;
			}

			&:first-child {
				padding-left: 0;
				
				&:before {
					display: none;
				}
			}
		}
	}

	a {
		color: $blue;
		text-transform: uppercase;
	}
}

.footer_copy {
	@include clearfix;
	font-size: 12px;
	@include gudea;
	
	@include media($tablet) {
		font-size: 10px;
	}
	
	@include media($mobile) {
		font-size: 12px;
		padding: 0 40px;
	}
	
	p {
		@include gudea;
		
		img {
			top: 3px;
		}
	}
}

#alert {
	display: none;
	color: $darkBlue;
	@include sanchez;

	.alert-content {
		display: inline-block;
		padding: 10px;
	}
	
	img {
		margin-bottom: 20px;
	}
	
	.alert_buttons {
		display: inline-block;
		float: right;
		margin-top: 40px;
		text-align: center;

		@include media($mobile) {
			@include span-columns(4);
			display: inline-block;
			padding-bottom: 20px;
			float: none;
		}
		
		a {
			padding: 10px 40px;
			color: $white;
			border-radius: 5px;

			@include media($mobile) {
				@include span-columns(2);
			}
			
			&.cancel {
				background: $gray;
				//margin-right: 30px;
			}
		}
	}
}

.fancybox-wrap {

	.fancybox-skin {

		@include media($mobile) {
			padding: 10px !important;
		}
	}

	.fancybox-inner {

		@include media($mobile) {
			height: auto !important;
		}
	}
}
