.sub_hero_container {

	.default_sub_hero {
		background: url('../images/subhead-bg.png') no-repeat;
		background-size: cover;
		
		@include media($mobile){
			padding: 20px 0;
		}
		
		.container {
			display: flex;
			align-items: center;
			//browser specific
			display: -webkit-flex;
			-webkit-align-items: center;
			display: -ms-flexbox;
			-ms-flex-align: center;
			-ms-flex-pack: center;
			-ms-flex-line-pack: center;
		
			h1 {
				float: left;
				font-size: 48px;
				color: $columbiaBlue;
				text-transform: uppercase;
				display: inline-block;
			  	line-height: 1;
				-ms-flex: 0 1 auto;
				margin-left: 40px;

			  	@include media($mobile) {
				  font-size: 25px;
				}
			}
			
			img {
				display: inline-block;
				width: auto;

				@include media($mobile) {
					display:  none;
				}

			}
		}
	}
	
	.sub_hero {
		
		@include media($mobile){
			padding: 20px 0;
		}
		
		.container {
			display: flex;
			align-items: center;
			padding: 0 40px;
			//browser specific
			display: -webkit-flex;
			-webkit-align-items: center;
			display: -ms-flexbox;
			-ms-flex-align: center;
			-ms-flex-pack: center;
			-ms-flex-line-pack: center;

			@include media($mobile) {
				padding-left: 20px;
			}
			
			h1 {
				font-size: 48px;
				text-transform: uppercase;
				display: inline-block;
				line-height: 1.2;
				-ms-flex: 0 1 auto;

				@include media($mobile) {
					font-size: 26px;
					margin: auto 0;
				}
			}
			
			.page_icon{
				display: inline-block;
				width: auto;
				margin-right: 40px;
				padding: 30px 0;

				@include media($mobile) {
					display: none;
				}
			}
			
			img {
				width: auto;
				
				@include media($mobile){
					display: none;
				}
			}
		}	
	}
	
	.green_scheme {
		background-color: $green;
		
		h1 {
			color: $white;
		}
	}
	
	.blue_scheme {
		background-color: $blue;
		
		h1 {
			color: $white;
		}
	}
	
	.orange_scheme {
		background-color: $orange;
		
		h1 {
			color: $white;
		}
	}
	
	.purple_scheme {
		background-color: $purple;
		
		h1 {
			color: $white;
		}
	}
	
	.dark_blue_scheme {
		background: url('../images/subhead-bg.png') no-repeat;
		background-size: cover;
		
		h1 {
			color: $columbiaBlue;
		}
	}

}